html {
    text-align: center;
    background-color: rgb(245,204,101);
    margin-top: 60px;
}

html:hover {
    cursor: crosshair;
}

.title {
    
}

body {
    padding: 20px;
    margin: auto;
}

img {
    padding: 0.5px;
}

#playBtn:hover {
    cursor: cell;
}

#botIcon {
    height: 100px;
    margin-top: 50px;
    padding: 20px;
}

#botOpt {
    visibility: hidden;
}

#playBtn {
    height: 300px;
    margin-top: 6px;
    background-color:rgb(116,132,116);
    border-radius: 50%;
    transform: translate(-0%, 20%);
}

